.prover {
  display: grid;
  grid-template-columns: 6fr 3fr;
  grid-gap: 20px;
  gap: 20px;
  margin-top: 15px;
  & > div {
    backdrop-filter: blur(100px);
    border-radius: 15px;
    padding: 20px;
    .head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .done {
        display: flex;
        margin-top: 10px;
      }
      .three-btn {
        padding: 5px;
        border-radius: 10px;
        transform: rotate(90deg);
        background-color: #313259;
        color: #4051b5;
      }
    }
  }
  .projects {
    table {
      width: 100%;
      text-align: left;
      border-spacing: 0 2em;
      margin-top: 20px;
      .projects-table {
        tr {
          padding: 10px 0;
          .company {
            display: flex;
            align-items: center;
          }
          .member-pic {
            img {
              border-radius: 50%;
              border: 1px solid $primarycolor !important;
            }
            & > span:not(:first-child) {
              margin-left: -10px !important;
            }
          }
        }
      }
    }
  }
  .orders {
    .order {
      display: flex;
      padding: 15px 0;
      align-items: center;
      .order-icon {
        margin-right: 10px;
      }
    }
  }
}
