
.sidebar{
    display: flex;
    flex-direction: column;
    height: 90vh;
    min-height: 510px;
    max-height: 800px;
    margin: 20px;
    width: 14%;
    min-width: 160px;
    max-width: 250px;
    position: fixed;
    left: 0;
    border: 2px solid $primarycolor;
    padding: 15px;
    border-radius: 20px;
    backdrop-filter: blur(42px);
    transition: 0.3s;
    @media (max-width:$tapletmedia) {
      left: -200px;
    }
    .viwe-sidebar{ // add to viwe sidebar
      left: 0;
    }
  &__logo{
      font-size: 30px;
      font-weight: bold;
      font-family: "Nunito", sans-serif;
      text-align: center;
  }
  .css-n4yg98 { // the line after logo
    flex-shrink: 0;
    border-top: 0px solid rgba(0, 0, 0, 0.08);
    border-right: 0px solid rgba(0, 0, 0, 0.08);
    border-left: 0px solid rgba(0, 0, 0, 0.08);
    height: 0.0625rem;
    margin: 1rem 0px;
    border-bottom: none;
    opacity: 0.25;
    background-color: transparent;
    background-image: linear-gradient(to right, rgba(0, 117, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0)) !important;
  }
  ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    .dash-active{
      background-color: $primarycolor;
    }
    li{
      display: flex;
      align-items: center;
      list-style: none;
      padding: 7px;
      border-radius: 15px;
      gap: 5px;
      transition: 0.3s;
      cursor: pointer;
      svg{
        background: $secondcolor;
        border-radius: 10px;
        padding: 3px;
      }
      &:hover{
        transform:scale(1.05)
      }
    }
  }
  .doc{
    border-radius: 15px;
    background-image: url("../public/images/material-d.jpg");
    background-size: cover;
    background-position: center;
    padding: 10px;
    margin-top: auto;
    .s-icon{
      padding: 5px;
      background-color: #daba01;
      color: #023cf9;
      border-radius:10px;
      width: fit-content;

    }
    button{
      padding: 8px;
      font-size: 10px;
      width: 100%;
      border-radius: 10px;
      margin-top: 10px;
      color: #fff;
      background-color: transparent;
      background-image: linear-gradient(126.97deg, rgba(6, 11, 40, 0.74) 28.26%, rgba(10, 14, 35, 0.71) 91.2%);
    }
  }
}